<!DOCTYPE html>
<html>
<head>
  <title>Rails Games CMS</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
     <!-- Custom CSS -->
    <style>
    body {
        padding-top: 70px;
        /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    }
    </style>
</head>
<body>
  <%= render 'layouts/navigation' %>


  <!-- Page Content -->
    <div class="container">
      <div class="row">
        <%= render 'layouts/messages' %>
        <%= yield %>
      </div>
    </div>

</body>
</html>